<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <span class="btn btn-info"><%= current_user.role rescue  "Guest"%> </span>
  <span class="btn btn-info"><%= current_user.first_name rescue  ""%> </span>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" class="me-2" viewBox="0 0 118 94" role="img"><title>Bootstrap</title><path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z" fill="currentColor"></path></svg>
    <span class="fs-4"></span>
  </a>



  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <span class="btn btn-light"><%= link_to t('application.home'), categories_path%></span>
    <span class="btn btn-warning"><%= link_to t('application.new_category'), new_category_path %> </span>
    <span class="btn btn-warning"><%= link_to t('application.new_post'), new_post_path %> </span>
  </nav>
</div>



<ul class="dropdown-menu">
  <% I18n.available_locales.each do |locale| %>
    <li>
      <% if I18n.locale == locale %>
        <%= tag.span t(locale), class: 'dropdown-item' %>
      <% else %>
        <%= link_to t(locale), root_path(locale: locale), class: 'dropdown-item' %>
      <% end %>
    </li>
  <% end %>
</ul>

<body>
<%= render 'search/form' %>
</body>


<body>
<main>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_user %>
    <%= button_to t('application.log_out'), destroy_user_session_path, method: :delete  %>
    <%= link_to t('application.account_set'), edit_user_registration_path %>
  <% else %>
    <%= link_to t('application.sign_in'), new_user_session_path%>
    <%= link_to t('application.sign_up'), new_user_registration_path%>
  <% end %>

  <hr>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>